@font-face {
    font-family: egory-castle-personal;
    src: url(./EgorycastlePersonal.ttf);
}

.container{
    height: 100vh;
    width: 100vw;
}

div{
    display:flex;
}

.logo{
    justify-content: center;
    align-items: center;
    background-color: rgb(1,1,1,.5);
}

.logo img{
    height: 15vh;
}

#logo-text{
    font-family: egory-castle-personal;
    font-size: 60px;
}

.left-screen{
    flex-direction: column;
    justify-content: center;
    background-image: url("./burgers.jpg");
    background-size: auto 100%;
    background-position:center;
    background-repeat: no-repeat;

    flex: 1 1 40vw;
}

.right-screen{
    flex-direction: column;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    flex: 1 1 60vw;
}

.fonted{
    font-family: cursive;
    font-size: 30px;
}

.inputs{
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding-bottom: 30px;
    /* align-items: center; */
}

.buttons{
    display: block;
    margin: 4%;
}

.buttons button{
    background-color: blueviolet;
    height: 70px;
    width: 150px;
    font-size: 16px;
    margin:0;
}

.column{
    flex-direction: column;
    margin: 0 30px; 
}
.above-columns{
    margin: 20px 30px;
}