@font-face {
    font-family: egory-castle-personal;
    src: url(./EgorycastlePersonal.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

p{
    margin:20px 0;
}

div{
    display:flex;
}

.container{
    height: 100vh;
    width: 100vw;
}

.logo{
    justify-content: center;
    align-items: center;
    width:auto;
    background-color: rgb(1,1,1,.5);
}

.logo img{
    height: 15vh;
}

#logo-text{
    font-family: egory-castle-personal;
    font-size: 60px;
}

.left-screen{
    flex-direction: column;
    justify-content: center;
    background-image: url("./burgers.jpg");
    background-size: auto;
    background-position:center;
    background-repeat: no-repeat;

    width:40%;
}

.right-screen{
    flex-direction: column;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    flex: 1 1 60vw;
}

.fonted{
    font-family: cursive;
    font-size: 30px;
}

.inputs{
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding-bottom: 30px;
    /* align-items: center; */
}

.buttons{
    display: block;
    margin: 4%;
}

.buttons button{
    box-sizing: content-box;
    border: 8px solid blueviolet;
    height: 50px;
    width: 120px;
    background-color: blueviolet;
    font-size: 18px;
    font-weight: 900;
    padding:10px;
    margin:0;
}

.column{
    flex-direction: column;
    margin: 0 30px; 
}
.above-columns{
    margin: 20px 30px;
}

/* interactive attributes */

input:focus{
    outline-color: blue;
    box-shadow: 5px 5px rgb(207, 206, 206);
}

button:hover{
    color:blueviolet;
    background-color: black;
    border: 8px solid blueviolet;
}